<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.github.reactnativehero.umengpush">

    <application>

        <!-- value 统一前面加空格（除了华为和vivo），避免读取 meta data 自动转型成数字 -->
        <meta-data
            android:name="UMENG_APP_KEY"
            android:value="\ ${UMENG_APP_KEY}"
        />
        <meta-data
            android:name="UMENG_PUSH_SECRET"
            android:value="\ ${UMENG_PUSH_SECRET}"
        />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="\ ${UMENG_CHANNEL}"
        />

        <meta-data
            android:name="XIAOMI_PUSH_APP_ID"
            android:value="\ ${XIAOMI_PUSH_APP_ID}"
        />
        <meta-data
            android:name="XIAOMI_PUSH_APP_KEY"
            android:value="\ ${XIAOMI_PUSH_APP_KEY}"
        />

        <meta-data
            android:name="OPPO_PUSH_APP_KEY"
            android:value="\ ${OPPO_PUSH_APP_KEY}"
        />
        <meta-data
            android:name="OPPO_PUSH_APP_SECRET"
            android:value="\ ${OPPO_PUSH_APP_SECRET}"
        />

        <meta-data
            android:name="MEIZU_PUSH_APP_ID"
            android:value="\ ${MEIZU_PUSH_APP_ID}"
        />
        <meta-data
            android:name="MEIZU_PUSH_APP_KEY"
            android:value="\ ${MEIZU_PUSH_APP_KEY}"
        />

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=${HUAWEI_PUSH_APP_ID}"
        />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${VIVO_PUSH_APP_ID}"
        />
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${VIVO_PUSH_APP_KEY}"
        />

        <activity
            android:name=".UmengPushActivity"
            android:launchMode="singleTask"
            android:exported="true"
        >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
              android:host="${applicationId}"
              android:path="/thirdpush"
              android:scheme="agoo" />
          </intent-filter>
        </activity>

        <activity-alias
            android:name="${applicationId}.UmengPushActivity"
            android:exported="true"
            android:targetActivity=".UmengPushActivity"
        >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
              android:host="${applicationId}"
              android:path="/thirdpush"
              android:scheme="agoo" />
          </intent-filter>
        </activity-alias>

        <!--魅族push应用定义消息receiver声明 -->
        <receiver android:name=".MeizuReceiver">
            <intent-filter>
              <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
              <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
              <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
              <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
              <action android:name="com.meizu.c2dm.intent.RECEIVE" />
              <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
